// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright 2019-2021 Variscite Ltd.
 */

#include "imx8mm-var-dart-dt8mcustomboard.dts"

/ {
	model = "Variscite DART-MX8M-MINI on BeautyOS board";

	gpio-keys {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys>;

		up {
			gpios = <&gpio4 22 GPIO_ACTIVE_LOW>;
		};

		back {
			gpios = <&gpio4 23 GPIO_ACTIVE_LOW>;
		};

		home {
			gpios = <&gpio4 26 GPIO_ACTIVE_LOW>;
		};

		down {
			gpios = <&gpio4 10 GPIO_ACTIVE_LOW>;
		};
	};

	leds {
		emmc { /*red*/
			label = "eMMC2";
			linux,default-trigger = "heartbeat";
			gpios = <&gpio4 27 GPIO_ACTIVE_HIGH>;
		};
		
		emmc2 { /*green*/
			label = "eMMC3";
			gpios = <&gpio4 25 GPIO_ACTIVE_HIGH>;
		};
		/*
		emmc3 { /*blue*//*
			label = "eMMC4";
			gpios = <&gpio4 24 GPIO_ACTIVE_HIGH>;
		};
*/
		emmc3 { /*cam1 i2c*/
			label = "cam_1_i2c";
			gpios = <&gpio5 19 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		emmc32 { /*cam1 i2c*/
			label = "cam_2_i2c";
			gpios = <&gpio5 18 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		emmc4 { /*blue*/
			label = "cam_on";
			gpios = <&gpio3 21 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		emmc5 { /*blue*/
			label = "cam_1_reset";
			gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		emmc6 { /*blue*/
			label = "cam_1_stby";
			gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};


		emmc7 { /*blue*/
			label = "cam_2_reset";
			gpios = <&gpio5 26 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		emmc8 { /*blue*/
			label = "cam_2_stby";
			gpios = <&gpio5 27 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		emmc9 { 
			label = "spi_mux_enable";
			gpios = <&gpio3 20 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		emmc10 { 
			label = "spi_mux_cam_select";
			gpios = <&gpio3 22 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};


		emmc11 { 
			label = "3v3_sht";
			gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		emmc12 { 
			label = "led_on";
			gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};


		

		emmc13 { 
			label = "on_w_pf";
			gpios = <&gpio5 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		emmc14 { 
			label = "on_uv";
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		emmc15 { 
			label = "on_w";
			gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		emmc16 { 
			label = "on_ir";
			gpios = <&gpio3 25 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		vib_motor { 
			label = "vib_motor";
			gpios = <&gpio4 11 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		buzz { 
			label = "buzz";
			gpios = <&gpio4 20 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

	};

	can0_osc: can0_osc {
		clock-frequency = <20000000>;
	};

	/delete-node/ extcon_usb1;
};

&can0 {
	spi-max-frequency = <10000000>;
	/delete-property/ microchip,rx-int-gpios;
};

&ft5x06_ts {
	reset-gpios = <&gpio4 5 GPIO_ACTIVE_LOW>;
};

&ov5640_mipi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_csi1>;
	pwn-gpios = <&gpio4 8 GPIO_ACTIVE_HIGH>;
	rst-gpios = <&gpio5 28 GPIO_ACTIVE_HIGH>;
};

&pcie0 {
	status="disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie0>;
	reset-gpio = <&gpio4 7 GPIO_ACTIVE_LOW>;
};

&i2c2 {
	battery@36 {
        compatible = "maxim,max17048";
        reg = <0x36>;
        maxim,alert-low-soc-level = <10>;
    };

	
	sht35_1@44 {
		compatible = "sensirion,sht3x";
		reg = <0x44>;
		status = "okay";
    };
	
	sht35_1@45 {
		compatible = "sensirion,sht3x";
		reg = <0x45>;
		status = "okay";
    };
};


&i2c4 {
	/delete-node/ pca6408_1;
	/delete-node/ pca6408_2;
};

&usbotg1 {
	/delete-property/ extcon;
};

&iomuxc {
	pinctrl_can: cangrp {
		fsl,pins = <
			MX8MM_IOMUXC_GPIO1_IO06_GPIO1_IO6		0x16
		>;
	};

	pinctrl_captouch: captouchgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI1_RXD3_GPIO4_IO5		0x16
			MX8MM_IOMUXC_GPIO1_IO14_GPIO1_IO14		0x16
		>;
	};

	pinctrl_gpio_keys: keygrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI2_RXC_GPIO4_IO22		0x1c6	/*SW_VOL_DOWN*/
			MX8MM_IOMUXC_SAI2_RXD0_GPIO4_IO23		0X1c6	/*SW_BACK*/
			MX8MM_IOMUXC_SAI2_TXD0_GPIO4_IO26		0x1c6	/*SW_HOME*/
			MX8MM_IOMUXC_SAI1_TXFS_GPIO4_IO10		0x1c6	/*SW_VOL_UP*/
		>;
	};

	pinctrl_leds: ledgrp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI5_RXD0_GPIO3_IO21 		0x1c6
			MX8MM_IOMUXC_SAI2_MCLK_GPIO4_IO27		0x1c6
            MX8MM_IOMUXC_SAI2_TXC_GPIO4_IO25		0x1c6
            MX8MM_IOMUXC_SAI2_TXFS_GPIO4_IO24		0x1c6
			MX8MM_IOMUXC_SAI5_RXD0_GPIO3_IO21		0x1c6
			MX8MM_IOMUXC_GPIO1_IO00_GPIO1_IO0		0x1c6	
	
			MX8MM_IOMUXC_ENET_TX_CTL_GPIO1_IO22		0x1c6
			MX8MM_IOMUXC_I2C3_SCL_GPIO5_IO18		0x1c6
			MX8MM_IOMUXC_SAI5_RXC_GPIO3_IO20		0x1c6   /*spi mux enable*/
			MX8MM_IOMUXC_SAI5_RXD1_GPIO3_IO22		0x1c6	/*select spi camera*/
			MX8MM_IOMUXC_UART3_RXD_GPIO5_IO26		0x1c6	/*cam2 reset - odw*/ 
			MX8MM_IOMUXC_UART3_TXD_GPIO5_IO27		0x1c6	/*cam2_stanby*/

			MX8MM_IOMUXC_SAI5_RXFS_GPIO3_IO19		0x1c6	/*led_supply*/

			MX8MM_IOMUXC_SPDIF_RX_GPIO5_IO4			0x1c6	/*on_w_pf*/
			MX8MM_IOMUXC_GPIO1_IO11_GPIO1_IO11		0x1c6	/*on_uv*/
			MX8MM_IOMUXC_SAI5_RXD3_GPIO3_IO24		0x1c6	/*on_w*/
			MX8MM_IOMUXC_SAI5_MCLK_GPIO3_IO25		0x1c6	/*on_ir*/


			MX8MM_IOMUXC_GPIO1_IO06_GPIO1_IO6		0x1c6	/*3v3_sht*/


			MX8MM_IOMUXC_SAI1_TXC_GPIO4_IO11		0x1c6	/*VIB_MOTOR*/
			MX8MM_IOMUXC_SAI1_MCLK_GPIO4_IO20		0x1c6	/*BUZZ*/


			MX8MM_IOMUXC_GPIO1_IO13_GPIO1_IO13		0x1c6	/*3v3_sknin_on*/

			
		>;
	};

	pinctrl_pcie0: pcie0grp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI1_RXD5_GPIO4_IO7		0x41
		>;
	};

	pinctrl_csi1: csi1grp {
		fsl,pins = <
			MX8MM_IOMUXC_SAI1_RXD6_GPIO4_IO8		0x19
			MX8MM_IOMUXC_UART4_RXD_GPIO5_IO28		0x19
		>;
	};
};
